.container{
    background-color: #000000;
    color: #000000;
    padding: 10px;
    text-align: center;
    height: 60px;
    border-style: solid;
    border-bottom: solid rgb(143, 143, 143) 1px;
    
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 0;
    padding: 2px 150px;
    display: flex;
    font-size: bold 15px;
    color: white;
}

body{
    background-color: #000000;
    margin: 0;
}


.logo-image img{
    position: absolute;
    left: 105px;
    top: 2px;
    width: 80px; 
    height: auto;   
}

.facebook-logo img{
    position: absolute;
    left: 650px;
    top: 13px;
    width: 60px; 
    height: auto;   
}

.instagram-logo img{
    position: absolute;
    left: 750px;
    top: 21px;
    width: 40px; 
    height: auto;  
}

.telegram-logo img{
    position: absolute;
    left: 850px;
    top: 21px;
    width: 40px; 
    height: auto;  
}

.discord-logo img{
    position: absolute;
    left: 950px;
    top: 24px;
    width: 42px; 
    height: auto;  
}


.about-container h2{
    
    padding-top: 50px;
    margin-left: 300px;
    color: white;
    font-size: 100px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 90px;
}

.about-container p{
    position: absolute;
    top: 260px;
    right: 400px;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 45px;
    
}

.description-container{
    position: absolute;
    top: 500px;
    right: 600px;
    color: rgb(174, 174, 174);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.portfolio {
    background: #515151;
    padding: 3rem 1rem;
    text-align: center;
    margin-top: 300px;
}
.portfolio h2 {
    font-size: 50px;
    margin-bottom: 2rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.portfolio-grid a {
    text-decoration: none; 
    color: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.portfolio-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.portfolio-item img {
    width: 100%;
    height: 300px;
    display: block;

}
.portfolio-item h3 {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none; 
    color: inherit; 
}
.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top: solid gray 1px;
    width: 100%;
    position: relative;
}